*.gcda
*.gcno
*.gcov
*.o
*.stackdump
.deps
.dirstamp
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache
/bin
/compile
/config.log
/config.status
/configure
/depcomp
/e4c.pc
/install-sh
/lib
/missing
/report.html
/test-driver
/test-suite.log
/doxygen_warnings
/doc/html
/doc/latex
/doc/man
/doc/rtf
/doc/xml
