# Set the default behavior that will override individual core.autocrlf setting
* text eol=lf

# Text files that will always be normalized on checkout
*.config text
*.editorconfig text
*.gradle text
*.groovy text
*.java text
*.js text
*.json text
*.md text
*.properties text
*.py text
*.sh text
*.sql text
*.toml text
*.txt text
*.xml text
*.yml text
*.yaml text
*.Jenkinsfile text

# Files that will always have CRLF line endings on checkout
*.bat text eol=crlf

# Files that are truly binary and should not be modified on checkout
*.bin binary
*.class binary
*.jar binary
*.png binary
*.mp3 binary
